@use 'variables';
*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1, h2, h3, a {
    font-family: "Bellefair", serif;
}
p {
    font-family: "Barlow", sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    background-image: url(#{variables.$img-background-mobile});
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    @media screen and (min-width: 768px) {
        background-image: url(#{variables.$img-background-tablet});
    }
    @media screen and (min-width: 1024px) {
        background-image: url(#{variables.$img-background-desktop});
        
    }
}

img {
    display: block;
}

a {
    text-decoration: none;
}