$clr-blue-900: #0B0D17;
$clr-blue-300: #D0D6F9;
$img-background-mobile: "../assets/home/background-home-mobile.jpg";
$img-background-tablet: "../assets/home/background-home-tablet.jpg";
$img-background-desktop: "../assets/home/background-home-desktop.jpg";