$clr-blue-900: #0B0D17;
$clr-blue-300: #D0D6F9;
$img-background-mobile: "../assets/home/background-home-mobile.jpg";
$img-background-tablet: "../assets/home/background-home-tablet.jpg";
$img-background-desktop: "../assets/home/background-home-desktop.jpg";
$img-background-destionation-mobile: "../assets/destination/background-destination-mobile.jpg";
$img-background-destination-tablet: "../assets/destination/background-destination-tablet.jpg";
$img-background-desktination-desktop: "../assets/destination/background-destination-desktop.jpg";
$img-background-crew-mobile: "../assets/crew/background-crew-mobile.jpg";
$img-background-crew-tablet: "../assets/crew/background-crew-tablet.jpg";
$img-background-crew-desktop: "../assets/crew/background-crew-desktop.jpg";
$img-background-technology-mobile: "../assets/technology/background-technology-mobile.jpg";
$img-background-technology-tablet: "../assets/technology/background-technology-tablet.jpg";
$img-background-technology-desktop: "../assets/technology/background-technology-desktop.jpg";