*, *::after, *::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1, h2, h3, a {
  font-family: "Bellefair", serif;
}

p {
  font-family: "Barlow", sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  background-image: url(../assets/home/background-home-mobile.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  body {
    background-image: url(../assets/home/background-home-tablet.jpg);
  }
}
@media screen and (min-width: 1024px) {
  body {
    background-image: url(../assets/home/background-home-desktop.jpg);
  }
}

img {
  display: block;
}

a {
  text-decoration: none;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  gap: 0px;
}
@media screen and (min-width: 1024px) {
  .hero {
    margin-top: 50px;
    max-width: 1440px;
    margin-inline: auto;
  }
}
.hero__picture-logo {
  width: 48px;
  height: 48px;
}
.hero__logo {
  object-fit: contain;
}
.hero .line {
  position: relative;
  z-index: 1;
  display: none;
  width: 100%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.368627451);
  flex-grow: 1;
  transform: translateX(20%);
}
@media screen and (min-width: 1024px) {
  .hero .line {
    display: block;
    transform: translateX(10%);
  }
}
.hero__nav {
  display: none;
  position: fixed;
  width: 254px;
  top: 0;
  right: 0;
  height: 100%;
  padding-left: 40px;
  padding-top: 40px;
  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.0823529412);
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .hero__nav {
    padding-right: 40px;
    padding-top: 0;
    display: block;
    width: fit-content;
    padding-left: 100px;
    position: relative;
  }
}
.hero__nav--close {
  cursor: pointer;
  display: block;
  object-fit: contain;
  margin-left: auto;
  margin-right: 30px;
  margin-bottom: 120px;
}
@media screen and (min-width: 768px) {
  .hero__nav--close {
    display: none;
  }
}
.hero__nav-ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 40px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .hero__nav-ul {
    flex-direction: row;
  }
}
.hero__nav-li {
  align-content: center;
  position: relative;
}
.hero__nav-li--active::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 25px;
  width: 3px;
  background-color: #fff;
}
@media screen and (min-width: 768px) {
  .hero__nav-li--active::after {
    width: 100%;
    height: 4px;
  }
}
.hero__link {
  position: relative;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2px;
  display: inline-block;
  cursor: pointer;
}
.hero__number {
  margin-right: 0.4rem;
  font-weight: bold;
  letter-spacing: 2.7px;
}
.hero__figure-menu {
  cursor: pointer;
  width: 24px;
  height: 21px;
  transition: transform 0.4s ease;
}
.hero__btn-menu {
  object-fit: contain;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .hero {
    padding: 0 0px 0 40px;
    height: 100px;
  }
  .hero__figure-menu {
    display: none;
  }
  .hero__nav {
    display: block;
  }
}

.wrapper {
  padding: 24px;
}
@media screen and (min-width: 768px) {
  .wrapper {
    padding: 128px 40px;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper {
    min-height: 85vh;
    height: 100%;
    max-width: 1440px;
    margin-inline: auto;
    align-content: end;
  }
}

@media screen and (min-width: 1024px) {
  .home__principal {
    display: flex;
    align-items: center;
    align-items: center;
  }
}
.home-content {
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .home-content {
    text-align: start;
    height: 100%;
  }
}
.home__message, .home__paragraph {
  color: #D0D6F9;
}
.home__message {
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.15em;
  font-weight: 300;
}
@media screen and (min-width: 768px) {
  .home__message {
    font-size: 28px;
    letter-spacing: 4px;
  }
}
.home__paragraph {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.8;
  margin-inline: auto;
}
@media screen and (min-width: 768px) {
  .home__paragraph {
    font-size: 16px;
    width: 512px;
    margin: 0;
  }
}
.home__title {
  color: #fff;
  font-weight: 400;
  font-size: 80px;
  line-height: 1;
  margin: 24px 0;
}
@media screen and (min-width: 768px) {
  .home__title {
    font-size: 144px;
  }
}
.home__explore {
  width: 100%;
  height: 382px;
  display: grid;
  place-items: center;
}
@media screen and (min-width: 1024px) {
  .home__explore {
    width: fit-content;
    margin-left: auto;
  }
}
.home__explore-link {
  text-align: center;
  align-content: center;
  display: block;
  border-radius: 50%;
  width: 144px;
  height: 144px;
  background-color: #fff;
  font-weight: 400;
  font-size: 18px;
  color: #0B0D17;
  transition: transform 0.4s ease, outline 0.4s ease;
}
.home__explore-link:hover {
  transform: scale(1.1);
  outline: 50px solid rgba(255, 255, 255, 0.1725490196);
}
@media screen and (min-width: 768px) {
  .home__explore-link {
    width: 272px;
    height: 272px;
    font-size: 32px;
  }
}

.destination-bg {
  background-image: url(../assets/destination/background-destination-mobile.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .destination-bg {
    background-image: url(../assets/destination/background-destination-tablet.jpg);
  }
}
@media screen and (min-width: 1024px) {
  .destination-bg {
    background-image: url(../assets/destination/background-destination-desktop.jpg);
  }
}

@media screen and (min-width: 768px) {
  .destination .wrapper {
    padding-top: 40px;
  }
}
@media screen and (min-width: 1024px) {
  .destination .wrapper {
    padding: 48px 110px;
    max-width: 1440px;
  }
}
.destination__message {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.15em;
  font-family: "Barlow", sans-serif;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .destination__message {
    text-align: start;
    font-weight: 400;
    font-size: 20px;
  }
}
.destination__number {
  margin-right: 20px;
  color: #D0D6F9;
}
@media screen and (min-width: 1024px) {
  .destination-content {
    display: flex;
    height: 734px;
    margin-top: 24px;
    align-items: center;
  }
}
.destination__figure {
  width: 100%;
  height: 203px;
  margin: 24px auto 32px;
  display: grid;
  place-items: center;
}
@media screen and (min-width: 768px) {
  .destination__figure {
    height: 384px;
  }
}
@media screen and (min-width: 1024px) {
  .destination__figure {
    width: fit-content;
  }
}
.destination__img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  transition: width 0.4s ease, height 0.4s ease;
}
@media screen and (min-width: 768px) {
  .destination__img {
    width: 300px;
    height: 300px;
  }
}
@media screen and (min-width: 1024px) {
  .destination__img {
    width: 350px;
    height: 350px;
  }
}
@media screen and (min-width: 1250px) {
  .destination__img {
    width: 480px;
    height: 480px;
  }
}
.destination__information-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .destination__information-content {
    justify-content: center;
    gap: 32px;
  }
}
@media screen and (min-width: 1024px) {
  .destination__information-content {
    justify-content: flex-start;
  }
}
.destination__information-option {
  color: #D0D6F9;
  height: 32px;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .destination__information-option {
    font-size: 16px;
    letter-spacing: 2px;
  }
}
.destination__information-option--active {
  border-bottom: 2px solid #fff;
  color: #fff;
}
.destination__information-texts {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .destination__information-texts {
    width: 514px;
    margin-inline: auto;
  }
}
@media screen and (min-width: 1024px) {
  .destination__information-texts {
    text-align: start;
    margin-top: 40px;
  }
}
.destination__information-texts .line {
  height: 1px;
  width: 100%;
  background-color: #D0D6F9;
  opacity: 0.3;
  margin: 24px 0;
}
@media screen and (min-width: 1024px) {
  .destination__information-texts .line {
    margin: 40px 0;
  }
}
.destination__information-title {
  font-size: 56px;
  font-weight: 400;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .destination__information-title {
    font-size: 80px;
  }
}
.destination__information-description {
  color: #D0D6F9;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.8;
  height: 140px;
}
@media screen and (min-width: 768px) {
  .destination__information-description {
    font-size: 16px;
    height: 100px;
  }
}
.destination__information-data {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media screen and (min-width: 768px) {
  .destination__information-data {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
@media screen and (min-width: 1024px) {
  .destination__information-data {
    justify-content: flex-start;
    gap: 70px;
  }
}
.destination__information-part h3 {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
  color: #D0D6F9;
  margin-bottom: 12px;
}
.destination__information-part h2 {
  font-size: 28px;
  font-weight: 400;
  color: #fff;
}

.crew-bg {
  background-image: url(../assets/crew/background-crew-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .crew-bg {
    background-image: url(../assets/crew/background-crew-tablet.jpg);
  }
}
@media screen and (min-width: 1024px) {
  .crew-bg {
    background-image: url(../assets/crew/background-crew-desktop.jpg);
  }
}

@media screen and (min-width: 768px) {
  .crew .wrapper {
    padding-top: 40px;
    padding-bottom: 0;
  }
}
@media screen and (min-width: 1024px) {
  .crew .wrapper {
    padding: 48px 110px;
    max-width: 1440px;
  }
}
.crew-content {
  height: 700px;
  margin-top: 24px;
  overflow: hidden;
}
@media screen and (min-width: 1024px) {
  .crew-content {
    display: flex;
    align-items: center;
  }
}
.crew__texts {
  color: #fff;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .crew__texts {
    text-align: start;
    max-width: 539px;
  }
}
.crew__who {
  font-size: 18px;
  font-weight: 400;
  opacity: 0.5;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .crew__who {
    font-size: 24px;
  }
}
@media screen and (min-width: 1024px) {
  .crew__who {
    text-align: start;
    font-size: 32px;
  }
}
.crew__name {
  font-size: 24px;
  font-weight: 400;
  margin: 12px 0 24px;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .crew__name {
    font-size: 40px;
  }
}
@media screen and (min-width: 1024px) {
  .crew__name {
    font-size: 56px;
  }
}
.crew__description {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.8;
  color: #D0D6F9;
  height: 120px;
}
@media screen and (min-width: 768px) {
  .crew__description {
    font-size: 16px;
  }
}
.crew__options {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 100px;
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .crew__options {
    margin-top: 50px;
  }
}
@media screen and (min-width: 1024px) {
  .crew__options {
    justify-content: flex-start;
    margin-top: 100px;
  }
}
.crew__option {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #fff;
  opacity: 0.2;
}
.crew__option:hover {
  transform: scale(1.1);
}
.crew__option--active {
  opacity: 1;
}
@media screen and (min-width: 1024px) {
  .crew__option {
    width: 15px;
    height: 15px;
  }
}
.crew__picture {
  height: 350px;
  width: 100%;
  display: grid;
  place-items: center;
  background-image: url("../assets/crew/image-douglas-hurley.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
@media screen and (min-width: 768px) {
  .crew__picture {
    height: 500px;
  }
}
@media screen and (min-width: 1024px) {
  .crew__picture {
    height: 700px;
  }
}

.technology-bg {
  background-image: url(../assets/technology/background-technology-mobile.jpg);
}
@media screen and (min-width: 768px) {
  .technology-bg {
    background-image: url(../assets/technology/background-technology-tablet.jpg);
  }
}
@media screen and (min-width: 1024px) {
  .technology-bg {
    background-image: url(../assets/technology/background-technology-desktop.jpg);
  }
}

@media screen and (min-width: 768px) {
  .technology .wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 1024px) {
  .technology .wrapper {
    padding: 0 110px;
    max-width: 1440px;
    padding-bottom: 48px;
  }
}
.technology-content {
  margin-top: 40px;
}
@media screen and (min-width: 1024px) {
  .technology-content {
    display: flex;
    flex-direction: row-reverse;
    gap: 24px;
  }
}
.technology__figure {
  width: 100%;
  height: 258px;
}
@media screen and (min-width: 768px) {
  .technology__figure {
    height: 356px;
  }
}
@media screen and (min-width: 1024px) {
  .technology__figure {
    width: 608px;
    height: 600px;
  }
}
.technology__img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  transform: scale(1.1);
  object-fit: contain;
}
@media screen and (min-width: 768px) {
  .technology__img {
    max-height: 356px;
    transform: scale(1);
  }
}
@media screen and (min-width: 1024px) {
  .technology__img {
    max-height: auto;
    object-fit: contain;
    min-height: 100%;
  }
}
.technology__information {
  display: flex;
  flex-direction: column;
  gap: 40px;
  color: #fff;
  margin-top: 10%;
}
@media screen and (min-width: 768px) {
  .technology__information {
    margin-top: 16px;
  }
}
@media screen and (min-width: 1024px) {
  .technology__information {
    margin-top: 0;
    flex-direction: row;
    align-items: center;
  }
}
.technology__options {
  display: flex;
  gap: 24px;
  justify-content: center;
}
@media screen and (min-width: 1024px) {
  .technology__options {
    flex-direction: column;
  }
}
.technology__option {
  display: grid;
  place-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.4117647059);
  border-radius: 50%;
  cursor: pointer;
}
.technology__option:hover {
  background-color: #fff;
  color: #0B0D17;
}
.technology__option--active {
  background-color: #fff;
  color: #0B0D17;
}
@media screen and (min-width: 768px) {
  .technology__option {
    width: 56px;
    height: 56px;
    font-size: 24px;
  }
}
@media screen and (min-width: 1024px) {
  .technology__option {
    width: 80px;
    height: 80px;
  }
}
.technology__texts {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .technology__texts {
    width: 512px;
    margin-inline: auto;
  }
}
@media screen and (min-width: 1024px) {
  .technology__texts {
    text-align: start;
    width: 491px;
  }
}
.technology__terminology {
  color: #fff;
  font-size: 18px;
  opacity: 0.5;
  font-family: "Bellefair", serif;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .technology__terminology {
    font-size: 24px;
  }
}
@media screen and (min-width: 1024px) {
  .technology__terminology {
    font-size: 32px;
  }
}
.technology__title {
  font-size: 24px;
  margin: 16px 0 24px;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .technology__title {
    font-size: 40px;
  }
}
@media screen and (min-width: 1024px) {
  .technology__title {
    font-size: 56px;
  }
}
.technology__paragraph {
  font-size: 15px;
  line-height: 1.8;
  color: #D0D6F9;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .technology__paragraph {
    font-size: 16px;
  }
}
@media screen and (min-width: 1024px) {
  .technology__paragraph {
    font-size: 18px;
  }
}

/*# sourceMappingURL=main.css.map */
